# =========================
# Virtual environment
# =========================
venv/
.env/

# =========================
# Python cache & artifacts
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# =========================
# Streamlit
# =========================
.streamlit/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Reports / outputs (optional)
# =========================
reports/

